@font-face {
   font-family: xbniloofar; 
    src: url(font/Niloofar/xb_niloofar.ttf);
    font-weight: normal;
}

@font-face {
   font-family: xbniloofar; 
    src: url(font/Niloofar/xb_niloofarbd.ttf);
    font-weight: bold;
}

 p,h1,h2{
    font-family: xbniloofar;
    direction: rtl;
}


button.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}